body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #080026;
    background-color: ivory;
}

header {
    background-color: rgb(57, 32, 32);
    color: antiquewhite;
}

main {
    background-color: rgb(255, 227, 216);

}

footer {
    background-color: rgb(255, 185, 185);
}

p {
    margin: 0%;
}

.perfilredondo {
    border-radius: 50%;
}
